    // Правила для Telegram Auth Сессий (X10 Security)
    match /tg_auth_sessions/{sessionId} {
      allow create: if request.resource.data.keys().hasOnly(['created_at', 'verified', 'chat_id', 'otp', 'phone', 'customToken']) && request.resource.data.verified == false && request.resource.data.otp == null;
      allow get: if true; 
      allow list: if false; 
      allow update, delete: if false; 
    }
